#contact{
  margin-top: 310px;
}
section{
    background:url(./media/section.jpg) 50% 0% no-repeat fixed;
    background-size: cover;
    text-align: center;
    padding: 16Opx 50px 5 5Opx;
}

section h3{
  margin-top: 100px;
    padding:0 60px 0;
    font-size: 2.5em;
  text-decoration-line:underline ;
  text-decoration-color:#ff6502 ;
}

.section-icons{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
}

.network{
    font-size: 4em;
    border: 1px solid #b3aca7;
    padding: 30px 45px;
    color: hsl(30, 14%, 14%);
    z-index: -1 !important;
   border-radius: 50%;   
}

.network:hover, textarea:hover, input:hover, .form-button:hover {
    background: #b3aca7;
    color: hsl(30, 14%, 14%);
    transition: all 0.3s ease-in-out;
}

.form-container{
    padding-top:20px;
}

#reused_form {
  position: relative;
  margin: 20px auto; 
}

input{
  font-size:0.85em;
  width: 470px;
  height: 50px;
  padding: 0px 15px;
  background: transparent;
  outline: none;
  color: hsl(30, 14%, 14%);
  border: solid 1px #b3aca7;
  border-bottom: none;
}

textarea{
  width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: hsl(30, 14%, 14%);
  border: solid 1px #b3aca7;
  resize: none;
}

input::placeholder, textarea::placeholder, input:focus::placeholder, textarea:focus::placeholder{
  color:hsl(30, 14%, 14%);
}

input:hover::placeholder, textarea:hover::placeholder, input:hover:focus::placeholder, textarea:hover:focus::placeholder{
  color: hsl(30, 14%, 14%);
}

.form-button{
  background: transparent;
  border: solid 1px black;
  padding: 20px 75px;
  margin: 14px 0 -20px 0;
}

.form-container h4{
 font-size: 2em; 
}
#error_message{
  color: red;
  border: 1px solid red;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px 15px 10px 15px;
  box-shadow: 0 0 5px red ;
}

#success_message {
  color: green;
  border: 1px solid green;
  max-width: 400px;
  margin: 150px auto;
  box-shadow: 0 0 5px green;
}



section p{
  font-size: 0.9em;
  letter-spacing: 0.3em;
}
