/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    color: #555;
}

ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover{
    opacity: 1;
}

/* Header */

header {
    position: absolute;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    background-color: white;
}

header h2{
    font-family: 'Quicksand', sans-serif ;
}

header nav{
    display: flex;
}

header nav li{
    margin: 0 15px;
}


/* rectangle 1 */

.rectangle1{
    position: absolute;
    width: 100%;
    height: 280px;
    left: 0px;
    top: 12px;
    
    
    
    background: #FF6502;
    border-radius: 45px;
    border-bottom-right-radius: 0px;
}


.rectangle2{
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 70px;
    padding: 50px;
    
    

    font-family: 'IM FELL Double Pica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #F3F2F4;

    
    background: #FF8133;
    border-radius: 45px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.rectangle3{
    position: absolute;
    width: 800px;
    height: 100px;
    left: 94px;
    top: 87px;

    
}

.renard{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 30px;
    top: 30px;
    
    
}

h2{
    font-family: 'IM FELL Double Pica';
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3{
    font-family: 'IM FELL Double Pica';
    font-style: normal;
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle1f{
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 1000px;
    

    background: #FF6502;
    border-radius: 45px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rectangle2f{
    position: absolute;
    width: 100%;
    height: 190px;
    left: 0px;
    top: 10px;

    background: #FF8133;
    border-radius: 45px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.Adibaba{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 60px;
    top: 30px;
}

.logo{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 10px;
    top: 15px;
}
