.lien{
    margin-bottom: -1px;
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

a{
    text-decoration-line: none;
}

.espace{
  margin-top: 10px;
}

.cart{
  height: 20px;
  width: 20px;
}

.img-logo{
    margin: 0 auto;
    width: 300px;
    height: 70px ;
  }

  .button{
    border: 1px solid #eb5a00;
    background-color: #ff6502;
    border-radius: 3px;
    width: 170px;
    height: 40px;
    color: white;
    padding: 5px;
    text-decoration-line: none;
  }

  .button:hover{
    background-color: #eb5a00;
    transition: all 0.3s;
    color:white;
    text-decoration-line: none;
  }